.Header {
  margin-top:115px;
  margin-bottom:109.5px;
  align-items:center;
  font-family:Arial;

  .logo{
    margin-left:20px;
  }
  .HeaderContents {
    display:flex;
    justify-content: space-between;

    .HeaderList  {
      display:flex;
      list-style:none;
      margin-right:20px;
      margin-top:10px;

      .HeaderList__item{
        letter-spacing: 0;

        a{
          color:#24292E;
          text-decoration: none;
          font-size:14.4px;
        }
      }

      .HeaderList__item:not(:first-of-type) {
        margin-left:30px;

      img { 
        width:20px;
        height:20px;
      }
    }
    }
  }
}
.Container { 
  max-width:960px;
  padding:0 4%;
  margin:0 auto; 
  font-family:Arial;
}

.MainImage__image{
  width:100%;
  max-width:100%;
  height:420px;
  object-fit: cover;
}
.About__contents{
  margin-top:78px;
  .About__title{
    text-align:center;
    font-size:24px;
    font-family:Arial;;
  }
  .About__texts{
    margin-left:10px;
  .About__name{
    font-size:14.4px;
    margin-top:60px;
  }
  .About__adress{
    font-size:14.4px;
    margin-top:30px;
  }
  .About__text{
    margin-top:30px;
    font-size:14.4px;
    font-family:Arial;
  }
 }
}
#Works{
  margin-top:130px;
  .Works__title{
    text-align:center;
    font-size:24px;
  }
  .Works__images{
    margin-top:65px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
    margin-left:5px;
    
    .Works__image{
      width:264px;
      height:172px;
      object-fit: cover;

    }
  }
}
#News{
  margin-top:153px;
  .News__title{
    text-align:center;
    font-size:24px;
  }
  .News__list{
    margin-top:60px;
    list-style:none;
    margin-left:20px;
  }
  .News__listitem{
    border-bottom:1px solid #C8C8C8;
    padding:11.5px 0;
    display:flex;
    font-size:14.4px;
    font-family:Arial;
    align-items:center;
  }
  .News__listitem:first-of-type{
    border-top:1px solid #C8C8C8;
  }
  .News__listtext{
    margin-left:90px;
  }
}
#Contact{
  margin-top:128px;
  .Contact__title{
    text-align: center;
    font-size:24px;
  }
  .Contact__form{
    margin-top:65px;
    margin-left:10px;
    text-align: justify;
    .Contact__name{
      display:flex;
      justify-content: space-between;

      .Contact__name-input{
        border:1px solid #C8C8C8;
        width:723px;
        height:44px;
        margin-right:8px;
      }

      .Contact__name-title {
        font-size:14.4px;
      }
    }
    
    .Contact__mail {
      display:flex;
      margin-top:10px;
      justify-content: space-between;

      .Contact__mail-title {
        font-size:14.4px;
        font-family:Arial;
        text-align:left
      }

      .Contact__mail-input {
        border: 1px solid #C8C8C8;
        width:723px;
        height:44px;
        margin-right:8px;
      }
    }

    .Contact__message {
      display:flex;
      margin-top:10px;
      justify-content: space-between;

      .Contact__message-title {
        font-size:14.4px;
      }

      .Contact__message-input {
        border:1px solid #C8C8C8;
        width:723px;
        height:160px;
        margin-right:8px;
      }
    }

    .Submit-btn {

      text-align:center;

    input {

      width:200px;
      height:45px;
      margin-top:30px;
      color:#FFFFFF;
      background-color: #24292E;
      margin-right:8px;
    }

    input:hover {
      background-color: #FFFFFF;
      color:#24292E;
    }
    }
  }
}
#Footer {
  margin-top:130px;
  justify-content: center;
  background-color: #24292E;
  color:#FFFFFF;
  width:100%;
  height:31px;
  font-size:10px;
  display:flex;
  align-items: center;
  font-family:Arial;
}

@media(max-width:600px){
 .Header {
   margin-top:12px;
   margin-bottom:2px;

   .HeaderContents {
    flex-direction: column;

    .logo {
      text-align:center;
      margin-left:0;
      margin-right:2px;
    }

    .HeaderList {
      justify-content: center;
      margin-left:20px;
      margin-top:0;
      
      .HeaderList__item {

        a{
          font-size:12.8px;
        }
      }

      .HeaderList__item.HeaderList__item:not(:first-of-type) {
        margin-left:20px;
      }
     }
   }
  }

  .MainImage {

    .MainImage__image {
      width:100%;
  }
 }

 #About {

   .About__contents {
     margin-top:75px;
     
     .About__texts {
       margin-left:0;
       .About__name {
         margin-top:38px;
       }
       .About__text{
         margin-top:25px;
         line-height:25px;
         .About__texthide{
          display:none;
        }
       }
     }
   }
 }

 #Works {
   margin-top:65px;
   .Works__images {
     grid-template-columns: 1fr;
     gap:23px;
     margin-left:0;
     margin-top:40px;

     .Works__image {
       height:225px;
       width:100%;
     }
   }
 }

 #News {
   margin-top:93px;
   
   .News__list {
     margin-top:38px;
     width:345px;
     margin-left:0;

     .News__listitem:first-child {
       padding:12px 0;
     }

     .News__listitem:not(:first-child) {
       padding: 14px 0;
       margin-top:0;
     }

     .News__listitem {
       flex-direction: column;
       margin-top:0px;
       margin-bottom: 0;

       .News__listalign {
         margin-right:auto;
         width:304px;
         margin-top:0;
         margin-left:14px;
       }

       .News__listtext {
         margin-left:14px;
         font-size:14.4px;
         width:304px;
         height:37px;
         margin-right:auto;
       }

       .News__listtext:not(:first-child) {

        margin-bottom:2px;
        
       }
     }
   }
 }

  #Contact {
    margin-top:70px;

    .Contact__form {
      margin-left:0;
      margin-top:37px;

      .Contact__name {
        flex-direction:column;
        
        .Contact__name-input{
          height:43px;
          width:345px;
        }
      }

      .Contact__mail {
        flex-direction:column;

        .Contact__mail-input{
          width:345px;

        }
      }

      .Contact__message {
        flex-direction: column;

        .Contact__message-input{
          width:345px;

        }
      }

      .Submit-btn{

        input{

          margin-right:0;

        }
      }
    }
  }
  #Footer{
    margin-top:70px;
  }
}

@media screen and (min-width:601px){

  .About__adresshidepc{
    display:none;
  }
}