.Header {
  margin-top: 115px;
  margin-bottom: 109.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
}

.Header .logo {
  margin-left: 20px;
}

.Header .HeaderContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header .HeaderContents .HeaderList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 20px;
  margin-top: 10px;
}

.Header .HeaderContents .HeaderList .HeaderList__item {
  letter-spacing: 0;
}

.Header .HeaderContents .HeaderList .HeaderList__item a {
  color: #24292E;
  text-decoration: none;
  font-size: 14.4px;
}

.Header .HeaderContents .HeaderList .HeaderList__item:not(:first-of-type) {
  margin-left: 30px;
}

.Header .HeaderContents .HeaderList .HeaderList__item:not(:first-of-type) img {
  width: 20px;
  height: 20px;
}

.Container {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
  font-family: Arial;
}

.MainImage__image {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.About__contents {
  margin-top: 78px;
}

.About__contents .About__title {
  text-align: center;
  font-size: 24px;
  font-family: Arial;
}

.About__contents .About__texts {
  margin-left: 10px;
}

.About__contents .About__texts .About__name {
  font-size: 14.4px;
  margin-top: 60px;
}

.About__contents .About__texts .About__adress {
  font-size: 14.4px;
  margin-top: 30px;
}

.About__contents .About__texts .About__text {
  margin-top: 30px;
  font-size: 14.4px;
  font-family: Arial;
  text-align: justify;
}

#Works {
  margin-top: 130px;
}

#Works .Works__title {
  text-align: center;
  font-size: 24px;
}

#Works .Works__images {
  margin-top: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-left: 5px;
}

#Works .Works__images .Works__image {
  width: 100%;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
}

#News {
  margin-top: 153px;
}

#News .News__title {
  text-align: center;
  font-size: 24px;
}

#News .News__list {
  margin-top: 60px;
  list-style: none;
  margin-left: 20px;
}

#News .News__listitem {
  border-bottom: 1px solid #C8C8C8;
  padding: 11.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14.4px;
  font-family: Arial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#News .News__listitem:first-of-type {
  border-top: 1px solid #C8C8C8;
}

#News .News__listtext {
  margin-left: 90px;
}

#Contact {
  margin-top: 128px;
}

#Contact .Contact__title {
  text-align: center;
  font-size: 24px;
}

#Contact .Contact__form {
  margin-top: 65px;
  margin-left: 10px;
  margin-right: 7.5px;
  text-align: justify;
}

#Contact .Contact__form .Contact__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Contact .Contact__form .Contact__name .Contact__name-input {
  border: 1px solid #C8C8C8;
  width: 100%;
  height: 44px;
}

#Contact .Contact__form .Contact__name .Contact__name-title {
  font-size: 14.4px;
  width: 42px;
  margin-right: 75px;
}

#Contact .Contact__form .Contact__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Contact .Contact__form .Contact__mail .Contact__mail-title {
  font-size: 14.4px;
  font-family: Arial;
  text-align: left;
  width: 55px;
  margin-right: 70px;
}

#Contact .Contact__form .Contact__mail .Contact__mail-input {
  border: 1px solid #C8C8C8;
  width: 100%;
  height: 44px;
}

#Contact .Contact__form .Contact__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Contact .Contact__form .Contact__message .Contact__message-title {
  font-size: 14.4px;
  width: 71px;
  margin-right: 46px;
}

#Contact .Contact__form .Contact__message .Contact__message-input {
  border: 1px solid #C8C8C8;
  width: 100%;
  height: 160px;
}

#Contact .Contact__form .Submit-btn {
  text-align: center;
}

#Contact .Contact__form .Submit-btn input {
  width: 200px;
  height: 45px;
  margin-top: 30px;
  color: #FFFFFF;
  background-color: #24292E;
  margin-right: 8px;
}

#Contact .Contact__form .Submit-btn input:hover {
  background-color: #FFFFFF;
  color: #24292E;
}

#Footer {
  margin-top: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #24292E;
  color: #FFFFFF;
  width: 100%;
  height: 31px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
}

@media (max-width: 600px) {
  .Header {
    margin-top: 12px;
    margin-bottom: 2px;
  }
  .Header .HeaderContents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Header .HeaderContents .logo {
    text-align: center;
    margin-left: 0;
    margin-right: 2px;
  }
  .Header .HeaderContents .HeaderList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 20px;
    margin-top: 0;
  }
  .Header .HeaderContents .HeaderList .HeaderList__item a {
    font-size: 12.8px;
  }
  .Header .HeaderContents .HeaderList .HeaderList__item.HeaderList__item:not(:first-of-type) {
    margin-left: 20px;
  }
  .MainImage .MainImage__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #About .About__contents {
    margin-top: 75px;
  }
  #About .About__contents .About__texts {
    margin-left: 0;
  }
  #About .About__contents .About__texts .About__name {
    margin-top: 38px;
  }
  #About .About__contents .About__texts .About__text {
    margin-top: 25px;
    line-height: 25px;
  }
  #About .About__contents .About__texts .About__text .About__texthide {
    display: none;
  }
  #Works {
    margin-top: 65px;
  }
  #Works .Works__images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 23px;
    margin-left: 0;
    margin-top: 40px;
  }
  #Works .Works__images .Works__image {
    height: 225px;
    width: 100%;
  }
  #News {
    margin-top: 93px;
  }
  #News .News__list {
    margin-top: 38px;
    width: 100%;
    margin-left: 0;
  }
  #News .News__list .News__listitem:first-child {
    padding: 12px 0;
  }
  #News .News__list .News__listitem:not(:first-child) {
    padding: 14px 0;
    margin-top: 0;
  }
  #News .News__list .News__listitem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }
  #News .News__list .News__listitem .News__listalign {
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    margin-left: 14px;
  }
  #News .News__list .News__listitem .News__listtext {
    margin-left: 14px;
    font-size: 14.4px;
    max-width: 100%;
    height: 37px;
    margin-right: 20px;
    text-align: left;
  }
  #News .News__list .News__listitem .News__listtext:not(:first-child) {
    margin-bottom: 2px;
  }
  #Contact {
    margin-top: 70px;
  }
  #Contact .Contact__form {
    margin-left: 0;
    margin-top: 37px;
  }
  #Contact .Contact__form .Contact__name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Contact .Contact__form .Contact__name .Contact__name-input {
    height: 43px;
    width: 100%;
  }
  #Contact .Contact__form .Contact__mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Contact .Contact__form .Contact__mail .Contact__mail-input {
    width: 100%;
  }
  #Contact .Contact__form .Contact__message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Contact .Contact__form .Contact__message .Contact__message-input {
    width: 100%;
  }
  #Contact .Contact__form .Submit-btn input {
    margin-right: 0;
  }
  #Footer {
    margin-top: 70px;
  }
}

@media screen and (min-width: 601px) {
  .About__adresshidepc {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */